<?xml version="1.0" encoding="UTF-8"?>
<!-- Extra logging related to initialization of Log4j.
 Set to debug or trace if log4j initialization is failing. -->
<Configuration status="warn">
    <Appenders>
        <!-- Console appender configuration -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{HH:mm:ss}}{bright,blue} | %-5p %c{1}:%L - %m%n" />
<!--                    pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />-->
        </Console>

        <File name="fout" fileName="home.log" append="true">
            <PatternLayout>
<!--                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>-->
                <Pattern>%d{HH:mm:ss} | %-5p | %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <!-- Root logger referring to console appender -->
        <Root level="info" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="fout" />
        </Root>
    </Loggers>
</Configuration>